.about-page {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .about-page h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .intro-text {
    text-align: center;
    font-size: 18px;
    color: #777;
    margin-bottom: 40px;
  }
  
  .about-section {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .text-content {
    flex: 1;
    padding: 20px;
  }
  
  .text-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .text-content p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
  }
  
  .image-content {
    flex: 1;
    padding: 20px;
    text-align: center;
    position: relative;
  }
  
  .image-content img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .image-content::after {
    content: '';
    position: absolute;
    top: 10;
    left: 50%;
    transform: translateX(-50%);
    width: 54%;
    height: 91%;
    background: rgba(0, 0, 0, 0.7); /* Default overlay color */
    border-radius: 10px;
    pointer-events: none; /* Ensures the overlay doesn't interfere with image interactions */
    transition: background 0.3s ease; /* Smooth transition for background color */
  }
  
  .image-content:hover::after {
    background: rgba(0, 0, 0, 0.5); /* Overlay color on hover */
  }
  